@import "../../styles/mixins.css";

.empty {
    border-radius: .1rem;
    padding: 3.2rem 1.6rem;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    * {
        display: flex;
        align-items: center;
        justify-content: center;
        @mixin f3
    }

    > .empty-icon {
        margin-bottom: .8rem;
    }
    > .empty-title {
        @mixin f1
    }
    > .empty-subtitle, > .empty-title {
        margin: .4rem auto;
    }
    > .empty-action {
        margin-top: .8rem;
    }
}
