@import "../../styles/mixins.css";

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;

   > .pagination-container {
      max-width: 500px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      .btn {
         display: flex;
         flex: 1;
         white-space: nowrap;
         justify-content: center;
         align-items: center;
         margin: 0 10px 5px 10px;
         @mixin f4;
      }
   }
}
