@import "mixins.css";

html, body, #app {
    @mixin fill;
}
body *{
    box-sizing: border-box;
    font-family: $font-family;
    @mixin f3;
    border-color: $gray-light;
}
button, select {
    text-transform: none;
    box-shadow: none;

    &:focus, &:active {
        box-shadow: none;
    }
}

pre {
    overflow: auto;
    max-height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $gray-light;
    height: 100px;
    float: left;
    width: 100%;
    flex: 1;
    white-space: pre;
}

#app {
    display: flex;
    flex-direction: column;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
