
@define-mixin fill {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@define-mixin f1 {
    font-weight: $font-weight-bold;
    font-size: $font-32;
}
@define-mixin f2 {
    font-weight: $font-weight-bold;
    font-size: $font-18;
}
@define-mixin f3 {
    font-weight: $font-weight-normal;
    font-size: $font-18;
}
@define-mixin f4 {
    font-weight: $font-weight-normal;
    font-size: $font-14;
}
@define-mixin f5 {
    font-weight: $font-weight-normal;
    font-size: $font-12;
}

@define-mixin headerFooter {
    height: $height-section;
    clear: both;
    display: flex;
    align-items: center;
    padding: 30px 10px 30px 30px;
    box-sizing: border-box;
}
